# Python Basics

This Notebook includes the code snippets for basic Python. This includes the following contents:

* print()
* Comments and docstrings
* Variables and assignment
* Data Types
* CRUD Operations
* Casting
* Arithmetic operations
* Comparison operations
* Logic operations
* Order of operations
* User input
* Format
* String operations

# print()

* Let us start our Python journey with the famous Hello World! program. The goal of this program is to print out to standard output the phrase "Hello World!". To do so, just pass what you want to print in a `print()` function.

In [18]:
print("Hello World!")

Hello World!



---

Task #1

Use the print function to display your name, age, and favorite color on separate lines.


---

In [19]:
print("Name: Ward", "Age: 23", "Favorite Color: Black", sep="\n")

Name: Ward
Age: 23
Favorite Color: Black

# Comments and docstrings

- In Python, comments are a way to include notes or explanations in your code that are ignored by the Python interpreter when the code runs.

- Comments and docstrings are used to make our code more readable and easy to understand.

- Theyâ€™re useful for documenting what your code is doing, making it easier for others (or yourself) to understand it later.

- Comments can be on separate lines or inline with code. For inline comments, PEP 8 recommends keeping two spaces.

- Docstrings are used mainly for documenting functions, classes, and modules.

In [10]:
# this line of code will print "Hello World!" to the output
print("Hello World!")

Hello World!

In [11]:
# if your comment is too long
# use multiple lines

In [12]:
"""
This is a multi-line comment
spanning multiple lines.
It is actually a multi-line string
that is not assigned to any variable.
"""
print(23)

23

In [13]:
def welcome(name):
  """Print welcome note to the output."""

  print(f"Hello {name}")

welcome("Shadi")

Hello Shadi

In [14]:
print(help(welcome))

Help on function welcome in module __main__:

welcome(name)
    Print welcome note to the output.

None

# Variables and assignment

* A variable is essentially a named storage location in memory where you can store a value. You can think of it as a label for a piece of data.

* Variables allow you to work with data dynamically and make your code more flexible and reusable.

* Variables are created when a value is assigned to them. **Assignment** is done using the `=` operator.

`Syntax => "variable Nmae" "Assignment Operator" "value"`

In [15]:
# How to store your things in a variable
message = "Hello my wonderful students, how are you?"

print(message) # now we are using message variable instead of passing the text directly

Hello my wonderful students, how are you?

**Variable Naming Rules:**

1) Variable names must start with a letter (a-z, A-Z), an underscore (_), and numbers (**not at the beginning**).

2) Variable names are case-sensitive (i.e. `name` is not the same as `NAME`)

3) Variable names can not be Python special keywords (True, class, def, return, etc).

4) Variable names can include Special Characters (@, $, - , etc).

5) It is preferable that the variable name has a relation to the value.

**Accepted variable names:**

In [16]:
myname = "Shadi"
my_name = "Shadi"
_my_name = "Shadi"
myName = "Shadi"
MYNAME = "Shadi"
myname1 = "Shadi"

**Unaccepted variable names:**

In [17]:
2myname = "Shadi"     # Starts with a number
my-name = "Shadi"     # Contains a hyphen (Special Character)
my name = "Shadi"     # Contains a space (Special Character)
my_name$ = "Shadi"    # Contains a dollar sign (Special Character)
for = "Shadi"         # Uses a Python keyword
True = "Math"         # Uses a Python keyword

SyntaxError: invalid decimal literal (633201995.py, line 1)

In [ ]:
# To know the reserved words:
help("keywords")

In [ ]:
# It is preferable that the variable name has a relation to the value.

age = 10              # age is a variable holding the integer value 10
name = "Batool"       # name is a variable holding the string "Batool"
temperature = 23.5    # temperature is a variable holding the float value 23.5

**Constants**

While Python does not have built-in constant types, a common convention is to use uppercase variable names to indicate that a value should not be changed.

In [ ]:
PI = 3.14 #constant

Multiple variables can be created at once. This is most commonly used when unpacking or when a function returnes multiple values.

In [ ]:
v1, v2, v3 = 1, 2, 3
v4, v5 = (4, 5)

print(v1)
print(v2, v3)
print(v4)
print(v5)

The common cases for naming are:

* camelCase
* PascalCase
* snake_case
* UPPERCASE

All of theses cases can me used to name a variable. However, PEP 8 style guide recommends using snake_case to name variables.



---

Task #2:
Create a height variable


---

In [20]:
height = 178

# Data Types

* Integer

  An integer is a whole number, positive or negative, without any decimal point.

* Float

  A float is a number with a decimal point.

* Boolean

  A boolean value represents True or False.


* String
  
  A string is a sequence of characters enclosed in quotes.

In [ ]:
int_var_1 = 1
int_var_2 = -1

float_var_1 = -2.4
float_var_2 = 5.0

bool_var_1 = False
bool_var_2 = True

string_var_1 = "S"
string_var_2 = 'this is a string'

In [ ]:
print(bool_var_1)
print(float_var_2)

# CRUD Operations

## Integer
*   Create:  ` age = 30`
*   Read:     `print(age)`
*   Update:   `age = 31`
*   Delete:   `del age`

In [ ]:
number_of_students = 35          # Create
print(number_of_students)        # Read

number_of_students = 40          # Update
print(number_of_students)        # Read

del number_of_students           # Delete
print(number_of_students)        # Read

## Float
*   Create:  ` temperature = 99.5`
*   Read:     `print(temperature)`
*   Update:   `temperature = 100.0`
*   Delete:   `del temperature`

In [ ]:
weight = 52.5        # Create
print(weight)        # Read

weight = 65.8        # Update
print(weight)        # Read

del weight           # Delete
print(weight)        # Read

## String
*   Create:  ` name = "Leen"`
*   Read:     `print(name)`
*   Update:   `name = "Lama"`
*   Delete:   `del name`

In [ ]:
city_name = "Irbid"     # Create
print(city_name)        # Read

city_name = "Amman"     # Update
print(city_name)        # Read

del city_name           # Delete
print(city_name)        # Read

## Boolean
*   Create:  ` is_raining = False`
*   Read:     `print(is_raining)`
*   Update:   `is_raining = True`
*   Delete:   `del is_raining`

In [ ]:
is_happy = False     # Create
print(is_happy)        # Read

is_happy = True     # Update
print(is_happy)        # Read

del is_happy           # Delete
print(is_happy)        # Read

# Casting

You can change the type of a value or variable using casting. However, you must be careful as some casting operations result in errors or loss of information.

In [ ]:
# To find the type of variable we use:
type()

In [ ]:
x = 10
print(type(x))

In [ ]:
Number_of_Students = 32
print("The Type of 'Number_of_Students' varaiable is", type(Number_of_Students))

In [ ]:
int_var = 1
print(int_var, type(int_var))

int_var = float(int_var)
print(int_var, type(int_var))

In [ ]:
int_to_str = str(1)
print(int_to_str, type(int_to_str))

In [ ]:
str_to_int = int("2")
print(str_to_int, type(str_to_int))

In [ ]:
str_to_int_2 = int("A")
print(str_to_int_2, type(str_to_int_2))

In [ ]:
float_to_int = int(2.7)
print(float_to_int, type(float_to_int))

In [ ]:
bool_to_int = int(True)
print(bool_to_int, type(bool_to_int))



---

Task #3

 Write a Python program that declares the following variables and prints their types:

*   An integer variable called number_of_apples with the value 10.
*   A float variable called pi_value with the value 3.14.
*   A boolean variable called is_sunny with the value True.
*   A string variable called greeting with the value "Good morning".


---

In [21]:
number_of_apples = 10
pi_value = 3.14
is_sunny = True
greeting = "Good morning"


print("Type of number_of_apples:", type(number_of_apples))
print("Type of pi_value:", type(pi_value))
print("Type of is_sunny:", type(is_sunny))
print("Type of greeting:", type(greeting))

Type of number_of_apples: <class 'int'>
Type of pi_value: <class 'float'>
Type of is_sunny: <class 'bool'>
Type of greeting: <class 'str'>

# Arithmetic operations

These operations are performed using arithmetic operators:

* Addition `+`
* Subtraction `-`
* Multiplication `*`
* Division `/`  (returns a float)
* Modulus `%`
* Floor division `//`  (returns an integer)
* Exponentiation `**`

These operations can be performed on numbers. They can also be performed on variables of numerical values.

In [ ]:
num_1, num_2 = 5, 2

print(num_1 - num_2)
print(num_1 ** num_2)

sum = num_1 + num_2

print(sum)

In [ ]:
x = 450
x += 100   # x = x+100
x

In [ ]:
x = 5
x -=  2         # Abbreviation for (x = x - 2)
print (x)

In [ ]:
# x *= 100 --> x = x * 100

# Comparison operations

The result from these operations is a boolean value, and they are performed by the use of the following operators:

* Equal `==`
* Not equal `!=`
* Greater than `>`
* Less than `<`
* Greater than or equal to `>=`
* Less than or equal to `<=`

These operations can be performed on numbers. They can also be performed on variables of numerical values.

In [ ]:
print(5 == 5)   # Equal operator                       prints: True
print(5 != 5)   # Not equal operator                   prints: False
print(5 <  6)   # Less than operator                   prints: True
print(5 >  4)   # Greater than operator                prints: True
print(5 <= 5)   # Less than or equal to operator       prints: True
print(5 >= 6)   # Greater than or equal to operator    prints: False

In [ ]:
num_1, num_2 = 3.9, 12.1

print(num_1 < num_2)
print(num_1 == num_2)

result = num_1 >= num_2

print(result)

# Logic operations

The logic operators are three:

* `and`
* `or`
* `not`

These operators are used with boolean values and return a result of True or False according to the following truth tables:

| Operator| First value | Second value | Result |
|---|---|---|---|
| `and` | True | True | True |
| | True | False | False |
| | False | True | False |
| | False | False | False |
| `or` | True | True | True |
| | True | False | True |
| | False | True | True |
| | False | False | False |
| `not` | True | - | False |
| | False | - | True |

In [ ]:
# and
print(True and True)
print(True and False)

# or
print(False or False)
print(False or True)

# not
print(not True)

In [ ]:
years_of_experience = 1  # try: 1, 7, 2, 5, 3, 4.5

min = 2
max = 5

fit_for_job = years_of_experience >= min and years_of_experience <= max

print("Fit for job:", fit_for_job)

# Order of Operations

The order of operations in Python is somewhat similar to math. The introduced operators above have the following order of priorities:

1. Parentheses `( )`
2. Exponentiation `**`
3. Multiplication, division, floor division, and modulus `*` `/` `//` `%`
4. Addition and subtraction `+` `-`
5. Comparisons `==` `!=` `>` `>=` `<` `<=`
6. Logical `not`
7. Logical `and`
8. Logical `or`

In [ ]:
2 ** (1 + 1) + 1 * 2 < 7 and not 2 != 2 or not True

# User input

* It is important to write programs that deal with input data. Input data might come from different sources, including user input, database, file system, among others.

* Here we will deal with the simple case of processing input from the user.
* The input function reads a line from the user and returns it as a string.

In [ ]:
salary = input("Enter your salary: ")
print(salary)
print(type(salary))

In [ ]:
salary = int(input("Enter your salary: "))
print(salary + 100)

In [ ]:
salary = input("Enter your salary: ")
print(int(salary) + 100)

In [ ]:
Name = input("Enter your name : ")
Salary = input("Enter your salary : ")
update_salary = int(Salary) + 100
print("my name is", Name, "and salary", update_salary)



---

Task #5:

Write a program that asks the user for their name and age, and then prints out a message addressed to them that tells them how many years they have until they turn 100.

---

In [23]:
name = input("What is your name? ")
age = int(input("How old are you? "))

years_until_100 = 100 - age

print(f"Hello, {name}! You will turn 100 years old in {years_until_100} years.")

Hello, Ward! You will turn 100 years old in 77 years.

# Good Job ðŸš€