# Data Structures

This Notebook includes the following contents:

* list
  
  -- `CRUD`

* list built-in functions

  -- `append()` , `insert()` , `extend()` , `remove()` , `pop()` , `sort()` , `reverse()` , `in` , `index()` , `max()` , `min()` , `sum()`

* Nested Lists
* Tuples
* Sets
* Set built-in functions

  -- `add()` , `update()` , `pop()` , `remove()` , `discard()` , `union()` , `intersection()` , `difference()` , `symmetric_difference()` , `in`

* Dictionary
* Dictionary built-in functions

  -- `pop()` , `popitem()` , `keys()` , `values()` , `update()` , `in`

# Lists

* Lists are one of the most versatile data structures in Python. A list can contain any sort of object: numbers, strings, and even other lists.

* Lists are mutable, meaning they can be modified after they are created.

* We can create a list by enclosing a comma-separated sequence of elements in square brackets [ ].

*   Ordered: The items in a list have a specific order, and that order doesn't change unless you modify the list.

*   Changable: You can change, add, or remove items after the list is created.

*   Allows Duplicates: Lists can have items that are the same, so duplicates are allowed.


---
CRUD Operations
   - Create: `lst = [1, 2, 3, 4, 5]`
   - Read: `lst[0]` (This returns the first element of the list.)
   - Update: `lst[0] = 10` (This changes the first element to 10.)
   - Delete: `del lst[0]` (This removes the first element from the list.)

In [ ]:
lst=[0,1,2,3]
lst[0]=10

In [ ]:
# Create an empty list
my_list = list()

In [ ]:
# list creation
items = ["Banana", "Apple" , "Mango", "Banana"]
print(type(items))
print(f"items are {items}")

In [ ]:
# Count the number of elements inside the list
items = ["Banana", "Apple" , "Mango", "Banana"]
print(f"the number of elements inside the list is {len(items)}")

In [ ]:
#Read
items = ["Banana", "Apple" , "Mango", "Apple"]
print(items[0])

In [ ]:
items = ["Banana", "Apple" , "Mango", "Apple"]

# Accessing Elements

# to access the first element
print("first element is:", items[0]) # Indexing in python starts at zero NOT ONE
print("--------------------------------------------------")

# of course we can store it in a varibale
first_item = items[0] # ?
print(f"first element is {first_item}")
print("--------------------------------------------------")

# to access the last element
print(f"last element is {items[-1]}")
print("--------------------------------------------------")
# store it in a variable

last_item = items[-1]
print(f"last element is {last_item}")
print("--------------------------------------------------")

In [ ]:
# Slicing list we use : to slice
print(f"subset items {items[:2]}") # note that it starts from zero until one (2 - 1)
print("--------------------------------------------------")
# store it in a variable
sub_items = items[:2]

print(f"subset items {sub_items}")
print("--------------------------------------------------")
print(f"subset items {items[-3:-1]}")

In [ ]:
# Update
items = [10,"bob", 45.5, True, "$", 500, 0]
items[0] = "batool"
print(items)

In [ ]:
# updating elements

#update the first element
items[0] = 12
print(f"items after updating first element ---> {items}")

In [ ]:
# update multiple elements

items[1:3] = [13, "desk"]
print(f"items after updating multiple elements ---> {items}")

In [ ]:
# Delete element/s

del items[0]
print(items)

In [ ]:
# Delete list

lst = [1,2,3]
del lst



---


Task #1:

Define a list of 6 items and print the number of items inside the list, second element, second last element and use slicing to print out the second element until the third one.

---

# list built-in functions

In [ ]:
items = [10,"bob", 45.5, True, "$", 500, 0]

In [ ]:
# Adding elements to lists using (append)

items.append(30) # note that you can't append multiple items and it appends to the end of the list
print(f"items after appending ---> {items}")

In [ ]:
# Adding element into a certain position (insert)

items.insert(2, "friends")
print(f"items after inserting ---> {items}")

In [ ]:
# Add multi-elements to end the list (extend)

items.extend([6, 1, True])
print(f"items after extending ---> {items}")

In [ ]:
# removing items

items.remove("bob") # it removes only one element
print(f"items after removing ---> {items}")

In [ ]:
# removing items

items.pop() # by default it removes the last item
print(f"items after removing using pop function ---> {items}")

In [ ]:
# Note that you can store the popped value into a variable
popped_value = items.pop()

print(f"popped value is {popped_value}")
print("--------------------------------------")
print(f"items after removing using pop function ---> {items}")

In [ ]:
batool = ["buy coffee", "call mom", "finish report"]

In [ ]:
print(batool.pop())
print(batool)

In [ ]:
# why pop ?

items = ["buy coffee", "call mom", "finish report"]
popped_item = items.pop(1)

print(popped_item)

print(items)
x = items.pop(0)
print(x)
print(items)



---

Task #2:

Define a list of numbers [1,2,3] and then use append method to add 4 and use insert to add 5 at position 1 expected output [1,5,2,3,4]


---

In [ ]:
# sorting lists
my_list = [100,4,2,50,87,95]

# Sorting using sort() function
my_list.sort()
print(f"after sorting ---> {my_list} ")

In [ ]:
my_list.sort(reverse= True)
print(f"after sorting ---> {my_list} ")

In [ ]:
names = ["Omar", "Mohammad", "Ammar"]
names.sort()
print(names)

In [ ]:
# Reverse list
lst = [3,2,3,10,5,7]

lst.reverse()
print(lst)

In [ ]:
# Check if a specific element exists in a list
values = ["data" , 'sql', 'ML']

print("data" in values)
print("python" in values)
print("DATA" in values)

In [ ]:
# Find the index of a specific element in list

values = ["data" , 'sql', 'ML']
print(values.index("data"))

In [ ]:
# another built-in functions

lst = [20,10,15]

# sum : to sum the elements

print("sum of elements is ", sum(lst))

# max: max number of the list
max_lst = max(lst)
print(f"maximum number is {max_lst}")

# min: min number of the list
min_lst = min(lst)
print(f"minimum number is {min_lst}")

# Nested List

In [ ]:
lst = [1, [4,5,6] , ["mark" , 'bob', 'ross']]

print(lst[1][1])

In [ ]:
# Schedule for a week
schedule = [
    ["Meeting with team", "Code review", "Lunch with client"], # Sunday
    ["Project planning", "Write documentation"],               # Monday
    ["Development", "Team stand-up", "Client call"],           # Tuesday
    ["Testing", "Bug fixing", "Team meeting"],                 # Wednesday
    ["Deployment", "Write report"],                            # Thursday
    ["Weekend break"],                                         # Friday
    ["Weekend break"]                                          # Saturday
]

# accessing tasks for a specific day
Tuesday_tasks = schedule[2]
print("Tuesday's tasks:", Tuesday_tasks)

In [ ]:
# adding a new task to Wednesday
schedule[3].append("Prepare presentation")
print("Wednesday's updated tasks:", schedule[3])

In [ ]:
# removing a task from Sunday
schedule[0].remove("Lunch with client")
print("Sunday's updated tasks:", schedule)



---

Task #3:

You have the following nested list: nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]


1.   Access the number 5 from the nested list and assign it to a variable named number, print the variable number.
2.   Append number 10 to the last list inside nested_list, Print the updated nested_list.

# Tuples

*   Python tuples use parentheses () to contain and organize items.

*   Ordered: Items are arranged in a specific sequence.

*  Unchangeable: Once created, you cannot modify, add, or remove items in a tuple.

*   Allows Duplicates: You can have multiple identical items in a tuple.


---
CRUD Operations
   - Create: `t = (1, 2, 3, 4, 5)`
   - Read: `t[0]` (This returns the first element of the tuple.)
   - Update: Tuples are immutable, so they cannot be updated. However, we can concatenate them or reassign the variable.
   - Delete: `del t` (You can't delete an element of a tuple, but you can delete the entire tuple.)

In [ ]:
# Create an empty tuple

my_tuple = tuple()

In [ ]:
# Create Tuple

contact = ("abed", "555-1234", "abed@gmail.com",1)
print(contact)
print(type(contact))

In [ ]:
# Read

print(contact[0])
print(type(contact[0]))

In [ ]:
# no update --> cannot modify

In [ ]:
# Check if element exists
contact = ("abed", "555-1234", "abed@gmail.com")
print("abed" in contact)
print("Abed" in contact)

In [ ]:
# delete tuple

my_tuple =(1,2,3)
del my_tuple



---


Task #4:

Create a tuple and print the last element


---

# Sets

*   Python sets use curly braces {} to contain and organize items.
*   Unordered: Items have no specific sequence.


*   Unchangeable (in terms of items): Once added, individual items cannot be changed, but you can add or remove items from the set as a whole.
*   No Duplicates: Sets automatically remove duplicate items, so each item is unique.


---
CRUD Operations:
   - Create: `st = {1, 2, 3, 4, 5}`
   - Read: We can't access or change an element of a set using indexing or slicing due to the unordered nature of sets. We can loop through the set or check if an item exists.
   - Update: `st.add(6)` (This adds element 6 to the set.); `st.update([7, 8])` (This adds elements 7 and 8 to the set.)
   - Delete: `st.remove(1)` (This removes element 1 from the set. If the item does not exist, it raises an error.); `st.discard(2)` (This removes element 2 from the set. If the item does not exist, it does not raise an error.)

In [ ]:
# Set Creation
my_set = { 2, 3, 2, 1 , 1 , 1 , 1 , 1 , 1}
print(my_set)

# Set built-in functions

In [ ]:
# adding elements
courses = {"DL","ML","Python"}
print(courses)

courses.add("SQL")
courses.add("ML") # won't be added because it exists.
print(courses)

In [ ]:
my_set = {1, 2, 3}
another_set = {4, 5, 6,1}
# add multiple elements using update
my_set.update(another_set) # no duplicates

print(my_set)

In [ ]:
another_set.update(my_set)
print(another_set)

In [ ]:
# Removing elements

courses = {"DL","ML","Python","SQL"}

course = courses.pop()
print(course)
print(courses)

In [ ]:
# Remove a specific element from the set. If the element is not found, it raises a KeyErro
my_set = {1, 2, 3, "SQL"}
my_set.remove(2)
print(my_set)

In [ ]:
my_set.remove(6)

In [ ]:
# discard(): also removes a specific element from the set. Unlike remove(), it does not raise an error if the element is not found.
my_set = {1, "python", 2, 3,"ammar"}
my_set.discard("python")
my_set

In [ ]:
my_set.discard(6)
print(my_set)

In [ ]:
# Combining two sets

set1 = {1, 2, 3}
set2 = {3, 4, 5}
result = set2.union(set1)
print(result)

{1, 2, 3, 4, 5}

In [ ]:
# intersection(sets): Returns a new set with elements common to the set and any additional sets provided.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.intersection(set2)
print(result)

In [ ]:
# difference: Returns a new set with elements in the set that are not in any of the additional sets provided
set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.difference(set2)
print(result)

{1}

In [ ]:
result = set2.difference(set1)
print(result)

In [ ]:
# symmetric_difference: Returns a new set with elements in either the set or the provided set

set1 = {1, 2, 3}
set2 = {2, 3, 4}
result = set1.symmetric_difference(set2)
print(result)

In [ ]:
# Check if element exists

my_set = {1, 2, 3}
a = "1" in my_set
print(a)

In [ ]:
b = 1 in my_set
print(b)

In [ ]:
# delete set
my_set = {1,2,3}
del my_set



---

Task 5:

Create and Add Elements to a Set


*   Create an empty set named my_set
*   Add the elements 1, 2, and 3 to my_set
*   Print the updated set


---


Task 6:

Check element in a Set


*   Create set named my_set with the elements 1, 2, 3, and 4
*   Check if the element 2 is in my_set and print the result
*   Check if the element 5 is in my_set and print the result
---



Task 7
* create 2 sets A , B
 --> A {'red' , 'blue' , 'green'}
 --> B {'red', 'pink' , 'yellow'}

 and apply the folowing

 * Apply union and print the result

 * Apply intersection and print the result

 * Apply difference and pring the result

 * Apply union and save the value on B set

 * delete all sets

# Dictionary

*   Python dictionaries use curly braces {} with key-value pairs to organize items.

* It is unordered, changeable, and indexed by keys.

*   Changeable: You can modify, add, or remove key-value pairs after the dictionary is created.

*   No Duplicates (in keys): Each key must be unique; you cannot have duplicate keys, but values can be duplicated.

---

CRUD Operations:
   - Create: `d = {"one": 1, "two": 2, "three": 3}`
   - Read: `d["one"]` (This returns the value of the key "one".)
   - Update: `d["one"] = 10` (This changes the value of the key "one" to 10.)
   - Delete: `del d["one"]` (This removes the key-value pair with the key "one".)

In [ ]:
# Create an empty dictionary

my_dict = dict()

In [ ]:
Dict = {"name": "batool",
        "age": 23,
        "name": "Ahmad"}
print(Dict)

In [ ]:
my_dict = {"name": "Omar",
           "age": 30,
           "city": "Amman" ,
           "salary":30,
           "name":"Ammar"} # note that no key duplicates
my_dict

In [ ]:
# Read

my_dict = {"name": "Omar", "age": 30, "city": "Amman"}

# access a value
print(my_dict['city'])

In [ ]:
#storing to a variable
name = my_dict["name"]
print(name)

In [ ]:
# adding a new key-value pair
my_dict["email"] = "omar@gmail.com"
print(my_dict)

In [ ]:
# Update
# updating the value for an existing key
my_dict["age"] = 31

print(my_dict)

In [ ]:
# no key duplicates

my_dict = {"name":"omar", "name":"noor","name":"abed", "Name":"karam"}
print(my_dict)

# Dictionary built-in functions

In [ ]:
# removing items
my_dict = {"a": {1,2}, "b": 2}
value = my_dict.pop("b")

print(value)
print(my_dict)

In [ ]:
value = my_dict.pop("a")
print(value)

In [ ]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

new = car.popitem() # removes last key i can't give it anything
print(list(new)) # by default it returns a tuple (key,value)
print(car)

In [ ]:
# Getting All Keys
my_dict = {"name": "Omar", "age": 30, "city": "Amman", "name": "Batool"}
keys = my_dict.keys()
print(keys)

In [ ]:
# How to get all values ?
my_dict = {"name": ["Omar", "Batool"], "age": [30, 23], "city": ["Amman", "Irbid"]}
values = my_dict.values()
print(values)

In [ ]:
# Updating multiple values

my_dict = {"name": "Omar", "age": 30, "city": "Amman"}
my_dict.update({"name":"Abed", "phone_number": 555111})
print(my_dict)

In [ ]:
# checking if a Key Exists
my_dict = {"name": "Omar", "age": 30, "city": "Amman"}

print("name" in my_dict)
print("phone" in my_dict)



---
Task 7:

- Create a dictionary named student store his name, course , age with thier associated values
- Use update function to edit the age, add another item (phone_number)
- Delete the course key

# Great Job 🚀